doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Sunset with REACT

        link(rel="stylesheet", href=Helper.mix("chunks/bulma.css"))
        link(rel="stylesheet", href=Helper.mix("styles/layout/base.css"))
        block styles
    body 
        #app.container
            | To see this message is meaning react has not initialized correctly


    script(defer, src=Helper.mix("chunks/vendors.js")) 
    script(defer, src=Helper.mix("chunks/react.js"))
    script(defer, src=Helper.mix("scripts/pages/auth/about.js"))